<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ELO Loyalty Prediction Demo</title>
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>

    <section class="nav">
        <div class="nav_bar">
            <a href="/home">Info</a>
        </div>
        <div class="nav_bar">
            <a href="/demo">Demo</a>
        </div>
        <div class="nav_bar">
            <a href="/contact"> Contact </a>
        </div>
    </section>
<section>

<section style="padding:20px;" class="foot">
    <div>
      <a href="https://github.com/LiamWoodRoberts/" class="foot">
        <img src="../static/images/github.png" class="icon">
      </a>
      <div class="foot">
        <a href="https://github.com/LiamWoodRoberts/" class="foot">
        Github
        </a>
      </div>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/liamwoodroberts/" class="foot">
        <img src="../static/images/linkedin.png" class="icon">
      </a>
      <div class="foot">
        <a href="https://www.linkedin.com/in/liamwoodroberts/" class="foot">
        LinkedIn
        </a>
      </div>
    </div>
    <div>
        <a href="https://liamwoodroberts.com/" class="foot">
          <img src="../static/images/psi2.png" class="icon">
        </a>
        <div class="foot">
          <a href="https://liamwoodroberts.com/" class="foot">
          Website
          </a>
        </div>
      </div>
</section>

  <section style="padding:20px;" class="foot">
    <div>
      <h2 style="margin:4px;">Email: liamwr17@gmail.com</h2>
    </div>
    <div>
      <h2>
        Cell: 519 841 8626
      </h2>
    </div>
  </section>
</section>
