<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ELO Loyalty Prediction Demo</title>
  <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>

    <section class="nav">
        <div class="nav_bar">
            <a href="/home">Info</a>
        </div>
        <div class="nav_bar">
            <a href="/demo">Demo</a>
        </div>
        <div class="nav_bar">
            <a href="/contact"> Contact </a>
        </div>
    </section>

{% block content %}{% endblock content %}

<section class="foot">
        <div>
          <a href="https://github.com/LiamWoodRoberts/ELOWebApp" class="foot">
            <img src="../static/images/github.png" class="icon">
          </a>
          <div class="foot">
            <a href="https://github.com/LiamWoodRoberts/ELOWebApp" class="foot">
            Web App
            </a>
          </div>
        </div>
        <div>
          <a href="/elo_api/documentation" class="foot">
            <img src="../static/images/swagger.png" class="icon">
          </a>
          <div class="foot">
            <a href="/elo_api/documentation" class="foot">
            API INFO
            </a>
          </div>
        </div>
    </section>
</body>
</html>